<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cl.rticket.mappers.ItemMapper">
<!-- 
SELECT date_format(NOW(),'%W %d de %M de %Y')
SELECT date_format(NOW(),'%d-%m-%Y %H:%i') -->

<!-- =================================================================================================== -->
<!-- PAGINA DE ENTRADAS==================================================================================-->
<!-- =================================================================================================== -->

<insert id="insertarEntrada" parameterType="Entrada">
   insert into entrada (equ_id, ent_id, sec_id, par_id, ent_precio, ent_fecha_creacion,ent_comentario, ent_maximo)
   values 
       (#{idEquipo},NULL, #{idSector}, #{idPartido}, #{precio},NOW(),UPPER(#{comentario}),#{maximo})
</insert>

<delete id="eliminarEntrada" parameterType="map">
  delete from entrada where ent_id = #{idEntrada}
</delete>

<update id="actualizarEntrada" parameterType="Entrada">
  update entrada set ent_precio = #{precio},
                     ent_maximo = #{maximo},
                     ent_comentario = #{comentario}
               where ent_id = #{idEntrada} 
</update>

<select id="obtenerEntrada" resultType="Entrada" parameterType="map">
      select  a.ent_id idEntrada, a.sec_id idSector, a.par_id idPartido , a.ent_precio precio ,
           p.par_desc descPartido, s.sec_desc descSector, a.ent_comentario comentario, a.ent_maximo maximo
          
   from entrada a, partido p, sector s
   where 
       a.equ_id = #{idEquipo} and
	   a.ent_id = #{idEntrada} and 	
	   a.sec_id = s.sec_id and
	   a.par_id = p.par_id
</select>

<select id="obtenerEntradas" resultType="Entrada" parameterType="map">
   select  a.ent_id idEntrada, a.sec_id idSector, a.par_id idPartido , a.ent_precio precio ,
           p.par_desc descPartido, s.sec_desc descSector, ent_comentario comentario, ent_maximo maximo
          
   from entrada a, partido p, sector s
   where
       a.equ_id = #{idEquipo} and
	   a.par_id = #{idPartido} and 	  
	   a.sec_id = s.sec_id and
	   a.par_id = p.par_id
</select>

<!-- =================================================================================================== -->
<!-- PAGINA DE COMPRAS ==================================================================================-->
<!-- =================================================================================================== -->

<insert id="insertarCompra" parameterType="Compra"  useGeneratedKeys="true" keyProperty="idCompra"  keyColumn="com_id">
 insert into compra (equ_id,ent_id,par_id,sec_id,hin_rut,usr_username,com_monto,com_token,com_tipo,com_anulada,com_fecha) 
 values (#{idEquipo},#{idEntrada},#{idPartido},#{idSector},#{rut},#{username},#{monto},#{token},#{tipo},#{anulada},NOW())
 <selectKey keyProperty="idCompra" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID();
 </selectKey>
</insert>

<update id="actualizarTokenCompra" parameterType="map">
 update compra set com_token = #{token}
      where com_id = #{idCompra}
</update>

<update id="anularTicket" parameterType="String">
 update compra set com_anulada = 'S' 
        where com_token = #{token}
</update>

<select id="obtenerTotalSectorVendidas"  parameterType="map" resultType="int">

   select count(*) from entrada e, compra c
   where e.ent_id = #{idEntrada} and e.par_id = #{idPartido} and e.ent_id = c.ent_id

</select>

<select id="obtenerDatosTicketNominativo" parameterType="int" resultType="Ticket">
   select h.hin_nombres nombres, h.hin_apellidos apellidos, p.par_desc rival ,
	      p.par_fecha fecha,
	      date_format(p.par_fecha,' %H:%i') hora,
	      s.sec_desc sector ,
	      e.ent_comentario comentario,
	      c.com_token token,
	      c.com_tipo tipo, 
	      c.com_monto precio
	from compra c, entrada e, partido p,hincha h, sector s
	where c.com_id = #{idCompra} and
	      c.ent_id = e.ent_id and
	      c.hin_rut = h.hin_rut and
	      e.sec_id = s.sec_id and
	      e.par_id = p.par_id and
	     c.com_anulada not in ('S')
</select>

<select id="esTicketNominativo" parameterType="map" resultType="int">
select 1 from compra
where
  equ_id = #{idEquipo} and
  par_id = #{idPartido} and
  sec_id = #{idSector} and
  hin_rut = #{rut}
</select>

<!-- =================================================================================================== -->
<!-- GENERACION MASIVA ================================================================================= -->
<!-- =================================================================================================== -->

<select id="obtenerTotalesEntradas" parameterType="int" resultType="TotalesEntrada">
  <!-- 
  select e.par_id idPartido, e.ent_id idEntrada,CONCAT(s.sec_desc,' ',e.ent_comentario) nombreSector, e.ent_maximo maximo, c.com_tipo tipo , count(*) total
	
	from entrada e , compra c, sector s
	where
	     e.par_id = #{idPartido} and
	     e.sec_id = s.sec_id and
	     e.ent_id = c.ent_id and
	     c.com_anulada not in ('S')
    group by s.sec_desc, e.ent_id, c.com_tipo 
   -->  
    select 
		e.par_id idPartido, 
		e.ent_id idEntrada,
		CONCAT(s.sec_desc,' ',e.ent_comentario) nombreSector,
		e.ent_maximo maximo, 
		c.com_tipo tipo ,  
		count(c.com_tipo) total
    from entrada e 
		inner join sector s  on
		e.par_id = #{idPartido} and
		   e.sec_id = s.sec_id 
		left join compra c on
		e.ent_id = c.ent_id and
		   c.com_anulada not in ('S')    
	group by s.sec_desc, e.ent_id , c.com_tipo
    
    

</select>


<resultMap id="masivaResult" type="cl.rticket.model.Masiva">
     <result property="rival" column="par_desc"/>
     <result property="fecha"  column="par_fecha"/>
     <result property="hora"  column="hora"/>
     <result property="sector"  column="sec_desc"/>
     <result property="comentario"  column="ent_comentario"/>
     <result property="precio"  column="com_monto"/>
     
	      <collection property="tokens" ofType="java.lang.String" javaType="list">
		     <result column="com_token" />	   
		  </collection>
</resultMap>

<select id="obtenerDatosTicketMasivo" parameterType="map" resultMap="masivaResult">
      select  p.par_desc ,
	      p.par_fecha ,
	      date_format(p.par_fecha,' %H:%i') hora,
	      s.sec_desc ,
	      e.ent_comentario ,
	      c.com_token ,
	      c.com_tipo ,
	      c.com_monto 
	from compra c, entrada e, partido p, sector s
	where c.ent_id = #{idSector} and
	      c.ent_id = e.ent_id and	     
	      e.sec_id = s.sec_id and
	      e.par_id = p.par_id and
	      c.com_tipo = #{tipo} and
	      c.com_anulada not in ('S')
	order by c.com_id
</select>


<!-- ============================================================================================= -->
<!-- CORTESIA ==================================================================================== -->
<!-- ============================================================================================= -->

<select id="obtenerTotalesCortesiaPorEntidad" parameterType="map" resultType="TotalesEntrada">
    select e.par_id idPartido, e.ent_id idEntrada, CONCAT(s.sec_desc,'  ',e.ent_comentario) nombreSector, count(*) total 
	 from compra c, entrada e, hincha h, sector s
    where
         e.par_id = #{idPartido} and
         e.ent_id = c.ent_id and
         c.hin_rut = #{rut} and       
         c.com_tipo = 'C' and       
         e.sec_id = s.sec_id and
         c.hin_rut = h.hin_rut and
	      c.com_anulada not in ('S')
    group by e.ent_id
</select>

<select id="obtenerDatosTicketRut" parameterType="map" resultType="Ticket">
   select  
         h.hin_nombres nombres,
		   p.par_desc rival ,
	      p.par_fecha fecha,
	      date_format(p.par_fecha,' %H:%i') hora,
	      s.sec_desc sector ,
	      e.ent_comentario comentario,
	      c.com_token token,
	      c.com_tipo tipo,
	      c.com_monto precio
	from compra c, entrada e, partido p, sector s, hincha h
	where c.ent_id = #{idEntrada} and
	      c.hin_rut = #{rut} and
	      c.hin_rut = h.hin_rut and
	      c.ent_id = e.ent_id and	     
	      e.sec_id = s.sec_id and
	      e.par_id = p.par_id and
	      c.com_tipo = #{tipo} and
	      c.com_anulada not in ('S')

</select>

<!-- ============================================================================================ -->
<!-- MANTENEDOR PARTIDOS -->
<!-- ============================================================================================ -->

<select id="obtenerPartidos" parameterType="int" resultType="Partido" >
 select 
          par_id idPartido,
          par_desc descripcion ,
          date_format(par_fecha,'%d-%m-%Y %H:%i') fecha   
    from partido 
    where  par_fecha > NOW() and equ_id = #{idEquipo}
</select>


<update id="actualizarPartido" parameterType="Partido" > 
 update partido set par_desc = UPPER(#{descripcion}),
                    par_fecha = STR_TO_DATE(#{fechaTexto},'%d-%m-%Y %H:%i')
                where par_id = #{idPartido}
</update>

<insert id="insertarPartido" parameterType="Partido">
  insert into partido values(#{idEquipo},null,UPPER(#{descripcion}),STR_TO_DATE(#{fechaTexto}, '%d-%m-%Y %H:%i'))
</insert>

<select id="obtenerPartido" resultType="Partido" parameterType="int">
  select par_id idPartido, par_desc descripcion, date_format(par_fecha,'%d-%m-%Y') fecha, date_format(par_fecha,'%H:%i') hora from partido where par_id = #{idPartido} 
</select>

<delete id="eliminarPartido" parameterType="int">
  delete from partido where par_id = #{idPartido}
</delete>

<!-- =============================================================================================== -->
<!-- MANTENEDOR SECTORES =========================================================================== -->
<!-- =============================================================================================== -->

<select id="obtenerSectores" parameterType="int" resultType="Sector" >
   select 
          sec_id idSector,
          sec_desc descripcion
    from sector where  equ_id = #{idEquipo}
</select>

<update id="actualizarSector" parameterType="Sector">
 update sector  set sec_desc = UPPER(#{descripcion})
          where sec_id = #{idSector}
</update>

<insert id="insertarSector" parameterType="Sector">
  insert into sector values(#{idEquipo},null,UPPER(#{descripcion}));
</insert>

<select id="obtenerSector" parameterType="Sector" resultType="Sector">
  select sec_id idSector, sec_desc descripcion from sector where sec_id = #{idSector} 
</select>

<delete id="eliminarSector" parameterType="int" >
  delete from sector where sec_id= #{idSector}
</delete>


<!-- ================================================================================================ -->
<!-- CONTROL DE ACCESO ============================================================================== -->
<!-- ================================================================================================ -->

<!--  
<update id="actualizarAccesoNominativo" parameterType="map" >
update compra set com_escaneada = 'S' 
where 
   equ_id = #{idEquipo} and
   par_id = #{idPartido} and
   sec_id = #{idSector} and
   hin_rut = #{rut} and
   com_anulada = 'N'
   
</update>

<update id="actualizarAccesoNormal" parameterType="map" >
update compra set com_escaneada = 'S' 
where 
   com_token = #{idTicket}  and
   com_anulada = 'N'   
</update>
-->

<select id="existeTicket" parameterType="map" resultType="int">
 select 1 from compra 
 where 
    com_token = #{token} and
    equ_id = #{idEquipo} and
    par_id = #{idPartido} and
    sec_id = #{idSector}
</select>


<select id="esAbonadoVigente" parameterType="map" resultType="int">
 select 1 from abonados_sector 
 where 
    equ_id = #{idEquipo} and
    sec_id = #{idSector} and
    hin_rut = #{rut} and 
    abs_vigencia > NOW()   
</select>

<select id="obtenerEntradasNormalesPorSector" parameterType="map" resultType="String"> 
     select c.com_token id from entrada e, compra c 
	       where 
	            e.par_id = #{idPartido} and
	            e.sec_id = #{idSector} and
	            e.ent_id = c.ent_id and
	            c.com_tipo in ('R','C') and c.com_anulada = 'N'
</select>

<select id="obtenerEntradasNominativasPorSector" parameterType="map" resultType="int"> 
     select c.hin_rut id from entrada e, compra c 
	       where 
	            e.par_id = #{idPartido} and
	            e.sec_id = #{idSector} and
	            e.ent_id = c.ent_id and
	            c.com_tipo = 'N' and c.com_anulada = 'N'
</select>

<select id="obtenerAbonadosPorSector" parameterType="map" resultType="int"> 
    select    h.hin_rut rut
	from hincha h, abonados_sector a
	where a.sec_id = #{idSector} and 
	      a.abs_vigencia > NOW() and
	      h.hin_rut = a.hin_rut
</select>


<select id="obtenerTotalListaNegra" resultType="int">
 select lne_rut from lista_negra
</select>


<insert id="insertarAccesoEstadio" parameterType="map">
 insert into acceso_estadio(equ_id,id, par_id, sec_id, fecha) values (#{idEquipo},#{id},#{idPartido},#{idSector}, NOW())
</insert>



</mapper>