<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cl.rticket.mappers.ItemMapper">

<select id="obtenerPartidos" resultType="Partido" >
 select 
          par_id idPartido,
          CONCAT (par_desc, ' (',par_fecha,')') descripcion         
    from partido 
</select>

<select id="obtenerSectores" resultType="Sector" >
   select 
          sec_id idSector,
          sec_desc descripcion
    from sector 
</select>


<select id="obtenerEntradas" resultType="Entrada" parameterType="map">
   select  a.ent_id idEntrada, a.par_id idPartido , a.ent_precio precio ,
           p.par_desc descPartido, CONCAT(s.sec_desc,' - $',a.ent_precio) descSector
          
   from entrada a, partido p, sector s
   where
	   a.par_id = #{idPartido} and 	  
	   a.sec_id = s.sec_id and
	   a.par_id = p.par_id
</select>

<select id="obtenerEntrada" resultType="Entrada" parameterType="int">
      select  a.ent_id idEntrada, a.par_id idPartido , a.ent_precio precio ,
           p.par_desc descPartido, CONCAT(s.sec_desc,' - $',a.ent_precio) descSector
          
   from entrada a, partido p, sector s
   where
	   a.ent_id = #{idEntrada} and 	
	   a.sec_id = s.sec_id and
	   a.par_id = p.par_id
</select>



<insert id="insertarEntrada" parameterType="Entrada">
   insert into entrada (ent_id, sec_id, par_id, ent_precio, ent_fecha_creacion)
   values 
       (NULL, #{idSector}, #{idPartido}, #{precio},NOW())
</insert>

<delete id="eliminarEntrada" parameterType="map">
  delete from entrada where ent_id = #{idEntrada}
</delete>


<insert id="insertarCompra" parameterType="Compra">
 insert into compra (com_id,ent_id,hin_rut,usr_username,com_monto,com_token,com_nominativa,com_fecha) 
 values (NULL,#{idEntrada},#{rut},#{username},#{monto},#{token},#{nominativa},NOW())

</insert>


</mapper>