<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cl.rticket.mappers.LoginMapper">

<select id="obtenerUsuario" resultType="Usuario" parameterType="String">
     select 
          u.usr_username username,
          u.usr_password password,
          u.usr_rut rut,
          u.usr_dv  dv,
          u.usr_nombre nombre,
          u.usr_apellidos apellidos,
          e.equ_id idEquipo,
          e.equ_nombre nombreEquipo,
          e.equ_estadio nombreEstadio
    from usuario u, equipo e 
	 where usr_username = #{username} and
	      u.equ_id = e.equ_id
</select>

<select id="obtenerUsuarioRoles" resultType="String" parameterType="map">
    select r.rol_desc from usuarios_roles u , rol r
	  where u.usr_username = #{username} and 
	        u.rol_id = r.rol_id
</select>

</mapper>

 