<Context antiJARLocking="true" path="/ticket">
 

     <Resource name="jdbc/RTicket" auth="Container" type="javax.sql.DataSource"
              username="ticket" password=""
              url=""
              driverClassName="com.mysql.jdbc.Driver"
              initialSize="5" maxWait="5000"
              maxActive="10" maxIdle="8"
               />
             

    

</Context>