<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"  lang="es"  th:include="layout/page :: page" >
 
  <div th:fragment="content"> 
    <script type="text/javascript">
    /*<![CDATA[*/
        $(document).ready(function (){	
        	
       
        	
        	$('#inputRutEscaneado').val('');
        	$("#inputRutEscaneado").focus();
        	
           /* $('#inputRutEscaneado').on('change paste',function(e){  
            	
            	var rutEscaneado = "";
            	document.forms[0].action = "buscar-hincha-compra";  
            	$('#inputRutEscaneado').val(rutEscaneado);
        		document.forms[0].submit();
        		
        	});*/
        	$("#selectIdEntrada").change(function(){
        		$("#inputRutEscaneado").focus();
        		document.forms[0].action = "obtener-disponibilidad-sector";      		
        		document.forms[0].submit();
        	});
        	
        	$("#inputRutDigitado").val('');
        	$("#selectIdPartido").change(function(){
        		document.forms[0].action = "carga-entradas-disponibles";      		
        		document.forms[0].submit();
        	});
        	
        	$("#btnConfirmarCompra").click(function(){
        		
        		document.forms[0].action = "confirmar-compra";      		
        		document.forms[0].submit();       		
        	});
        })
            
       /*]]>*/ 
    </script>
  
      <div class="widget">
			 <div class="widget-header">
				<h3><i class="fa fa-edit"></i> Compra de Tickets Nominativos</h3>
		     </div>
			 <div class="widget-content">
			 <form action="#" th:action="@{/buscar-hincha-compra}"  th:object="${compra}" method="POST" id="formCompra">
			   <input type="hidden" th:field="*{rut}" />
			   <div class="form-horizontal">	
				     <div  th:if="${error != null}" >
			      		<div class="alert alert-danger " th:text="${error}">
							Aqui van los mensajes de error																	
				  		</div>
					 </div>	
					 <div  th:if="${exito != null}" >
			      		<div class="alert alert-success " th:text="${exito}">
							Aqui van los mensajes de exito																	
				  		</div>
					 </div>	
					 <div class="form-group">
						    <label class="col-md-2 control-label">Partido</label>
							<div class="col-md-10">
								<select th:field="*{idPartido}"   class="form-control input-sm" id="selectIdPartido">
								    <option value="0" >Seleccione...</option>	
								    <option th:each="partido : ${partidos}" th:value="${partido.idPartido}" th:text="${partido.descripcion}" >partido</option>													
								</select>
							</div>
					 </div>
					 
					 <div class="form-group">
						    <label class="col-md-2 control-label">Entradas Disponibles</label>
							<div class="col-md-10">
								<select th:field="*{idEntrada}"  class="form-control input-sm" id="selectIdEntrada">
								    <option value="0" >Seleccione...</option>	
								    <option th:each="entrada : ${entradas}" th:value="${entrada.idEntrada}" th:text="${entrada.descSector}" >partido</option>													
								</select>
							</div>
					 </div>
					 
					 <div th:if="${total != null}">
					 <div class="row">
					     <div class="col-md-2"></div>
					     <div class="col-md-10">
							      <table class="table table-bordered">
										<thead>
											<tr>
											  <th width="20%">MÁXIMO</th>
											  <th width="20%">TOTAL GENERAL</th>									 
											  <th width="20%">TOTAL NOMINATIVAS</th>
											  <th width="20%">TOTAL NORMALES</th>										  					  
											  <th width="20%">TOTAL CORTESIA</th>
											
											</tr>
										</thead>
										
										<tbody>
											<tr >     
											    <td align="center" ><b><span th:text="${total.maximo}"></span></b></td> 
											    <td align="center" ><b><span th:text="${total.totalNominativa + total.totalNormales + total.totalCortesia}"></span></b></td> 
											    <td align="center" ><b><span th:text="${total.totalNominativa}"></span></b></td> 
											    <td align="center" ><b><span th:text="${total.totalNormales}"></span></b></td> 
											    <td align="center" ><b><span th:text="${total.totalCortesia}"></span></b></td>  
											</tr> 										
										</tbody>
										
								   </table>
						   </div>
						   
						</div>
					 </div>
					
					
					<div th:if="${agotadas == null}">
					 <div class="form-group">
						    <label class="col-md-2 control-label">RUT</label>
							<div class="col-md-10">
								 
								
									     <div class="row">
									        <div class="col-md-2">
											    <input th:field="*{rutEscaneado}" id="inputRutEscaneado" maxlength="20" type="text" class="form-control input-sm"  placeholder="12345678-K"/>											    
											</div>  
											<div class="col-md-2"><button type="submit"  class="btn btn-primary" id="btnBuscarHincha">Buscar Hincha</button></div>
											<div class="col-md-8"></div>
									     </div>	
 
							</div>
					 </div>
					 
					
					 <div class="row">	
					     <div class="col-md-1">	</div>
					     <div class="col-md-10">
					      <div class="form-group" th:if="!${#lists.isEmpty(session.carro)}">						    							
							   <button type="button" id="btnConfirmarCompra" class="btn btn-custom-primary"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Confirmar Compra</button>							
					    </div>				 
						 <table class="table table-bordered">
								<thead>
									<tr>
									  <th>RUT</th>
									  <th>NOMBRE</th>
									  <th>PARTIDO</th>
									  <th>SECTOR</th>										  					  
									  <th>ELIMINAR</th>
									</tr>
								</thead>
								
								<tbody>
									<tr th:each="ticket : ${session.carro}">
										<td th:text="${ticket.rutCompleto}">1</td>
										<td th:text="${ticket.nombreHincha}">1</td>
										<td th:text="${ticket.descPartido}">xxx</td>
										<td th:text="${ticket.descSector}">xxx</td>									
										<td><a href="#" th:href="@{/eliminar-entrada-carro(idEntrada=${ticket.idEntrada},idPartido=${ticket.idPartido}, rut=${ticket.rut})}"><span class="badge element-bg-color-blue"><i class="fa fa-trash-o" aria-hidden="true"></i>  Eliminar</span></a></td>
									</tr>
									<tr>
									   <td colspan="4" style="text-align:right"><strong>TOTAL: $</strong></td>
									   <td th:text="${session.totalCompra}" ></td>
									</tr>											
								</tbody>
								
						   </table>
						   </div>
						   <div class="col-md-1">	</div>
					   </div>
					</div>
					
				</div>
				</form>
			 </div>
	   </div>
	   
	   
          
  </div>
 </html>