<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"  lang="es"  th:include="layout/page :: page" >
 
  <div th:fragment="content"> 
    <script type="text/javascript">
        $(document).ready(function (){	
        	
        	$("#scan").val('');
        	$("#scan").focus();
        	
        	$("#cargar").click(function(){
        		document.forms[0].action = "cargar-control-acceso";             	
        		document.forms[0].submit();
        	})
        	
        	
          	
        })
    </script>
  
  
    
      <div class="widget">
			 <div class="widget-header">
				<h3><i class="fa fa-edit"></i> Control de Acceso Sector</h3>
		     </div>
			 <div class="widget-content">
			 <form action="#" th:action="@{/cargar-acceso-memoria}"  th:object="${partido}" method="POST" id="formulario">
			   <div class="form-horizontal">
			   
			         <div  th:if="${exito != null}" >
			      		<div class="alert alert-success " th:text="${exito}">
							Aqui van los mensajes de exito																	
				  		</div>
					 </div>		
				     <div  th:if="${error != null}" >
			      		<div class="alert alert-danger " th:text="${error}">
							Aqui van los mensajes de error																	
				  		</div>
					 </div>	
					 <div class="form-group">
						    <label class="col-md-3 control-label"></label>
							<div class="col-md-6">
								<select th:field="*{idPartido}"   class="form-control input-sm" id="selectIdPartido" >
								    <option value="" >Seleccione...</option>	
								    <option th:each="partido : ${partidos}" th:value="${partido.idPartido}" th:text="${partido.descripcion}+' ('+${partido.fecha}+')'" >partido</option>													
								</select>
							</div>
							<!-- 
							<div class="col-md-5">
								<select th:field="*{idSector}"  class="form-control input-sm" >
								    <option value="" >Seleccione...</option>	
								    <option th:each="sector : ${sectores}" th:value="${sector.idSector}" th:text="${sector.descripcion}" >partido</option>													
								</select>
							</div>
							 -->
							<label class="col-md-3 control-label"></label>
					 </div>
					
					 <div align="center">
							   <button type="button" class="btn btn-custom-primary" id="cargar">Cargar</button>
					 </div>
					<br/>
					
					 
					 
					 <div class="row">	
					     <div class="col-md-2">	</div>
					     <div class="col-md-8">				 
						 <table class="table table-bordered">
								<thead>
									<tr>
																	  
									  <th>TOTAL TICKETS (Normales y Cortesía)</th>
									  <th>TOTAL NOMINATIVOS </th>
									  <th>TOTAL LISTA NEGRA </th>
									 
									</tr>
								</thead>
								<tbody>
									<tr >																			
										<td th:text="${totalNormales}" align="center">xxx</td>	
										<td th:text="${totalNominativas}" align="center">xxx</td>
										<td th:text="${totalListaNegra}" align="center">xxx</td>										
									</tr>											
								</tbody>
						   </table>
						   </div>
						   <div class="col-md-2">	</div>
					   </div>
					   <!--  
					   <br/>
					    <div class="form-group">
						   <label class="col-md-1 control-label"></label>
							<div class="col-md-10">							  				
								 <input th:field="*{scan}" id="scan" type="text" class="form-control input-sm" />							  
							</div>
							<label class="col-md-1 control-label"></label>
					     </div>
					     <br/>
					     <br/>
					     <div align="center">
					         <span style="font-size:40px" th:utext="${respuesta}"> </span>
					        
					        
					     </div>
					   -->
					   
					   
					   
					  
				</div>
				</form>
			 </div>
	   </div>
          
  </div>
 </html>