<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"  lang="es"  th:include="layout/page :: page" >
 
  <div th:fragment="content"> 
    <script type="text/javascript">
	    /*<![CDATA[*/
	         $(document).ready(function (){	
	        	 
	        	 $("#btnBuscarHincha").click(function(){	         		
	         		document.forms[0].action = "buscar-hincha-mantenedor";      		
	         		document.forms[0].submit();
	         	 });
	        	 
	        	 $("#btnActualizarHincha").click(function(){	         		
		         		document.forms[0].action = "actualizar-hincha-mantenedor";      		
		         		//document.forms[0].submit();
		         		ckeckFormValid();
		         });
	        	 
	        	 $("#btnInsertarHincha").click(function(){	         		
		         		document.forms[0].action = "insertar-hincha-mantenedor";      		
		         		//document.forms[0].submit();
		         		ckeckFormValid();
		         });
	        	 
	        	 $("#selectCategoria").change(function(){
	        		 if($("#selectCategoria").val() == 'E') {
	        			 $("#divApellidos").hide();
	        			 $("#divFechaNacimiento").hide();
	        			 $("#divGenero").hide();
	        		 } else {
	        			 $("#divApellidos").show();
	        			 $("#divFechaNacimiento").show();
	        			 $("#divGenero").show();
	        		 }
	        		 
	        	 });
	        	 
	         })
	         
	         function ckeckFormValid() {
			  var f = document.forms[0];
			  if(f.checkValidity()) {
			    f.submit();
			  } else {
			    alert('Algunos datos en el formulario no están correctos, favor verifique');
			  }
			}
	      /*]]>*/ 
    </script>
  
  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
      <div class="widget">
			 <div class="widget-header">
				<h3><i class="fa fa-edit"></i> Actualización e Ingreso de Hincha</h3>
		     </div>
			 <div class="widget-content">
			     <div class="form-horizontal">
			     <form action="#" th:action="@{/ingresar-hincha }"  th:object="${hincha}" method="POST">
			              <div  th:if="${error != null}" >
				      		<div class="alert alert-danger " th:text="${error}">
								Aqui van los mensajes de error																	
					  		</div>
						  </div>	
						   <div  th:if="${info != null}" >
				      		<div class="alert alert-info " th:text="${info}">
								Aqui van los mensajes de info																
					  		</div>
						  </div>
			              <input type="hidden" th:name="rut" th:value="*{rut}" />
			              <input type="hidden" th:name="dv" th:value="*{dv}" />
													<div class="form-group">														
														
													        <label class="col-md-2 control-label">RUT</label>
													        <div class="col-md-3">
															    <input th:field="*{rutCompleto}"  maxlength="12" type="text" class="form-control input-sm"  placeholder="12345678-K"/>
															</div>											    
															
															<div class="col-md-2"><button type="button"  class="btn btn-primary" id="btnBuscarHincha">Buscar Hincha</button></div>
															<div class="col-md-5"></div>
													     
													</div>
										<div th:if="${accion == 'INSERTAR' or accion == 'ACTUALIZAR'}">	
										
											        <div class="form-group">
													    <label class="col-md-2 control-label">Categoría</label>
														<div class="col-md-10">
															<select th:field="*{categoria}"  class="form-control input-sm" required="required" id="selectCategoria">
															    <option value="" >Seleccione...</option>	
															    <option value="P">Persona</option>
															    <option value="E">Entidad</option>															    												
															</select>
														</div>
												    </div>	
													<div class="form-group">
														<label class="col-md-2 control-label">Nombre</label>
														<div class="col-md-10">
															<input type="text" th:field="*{nombres}" maxlength="50" required="required" pattern="[a-zA-ZñÑ\s]+" title="Ingrese solo letras" class="form-control input-sm" placeholder="" />
														</div>
													</div>
													<div class="form-group" id="divApellidos">
														<label class="col-md-2 control-label">Apellidos</label>
														<div class="col-md-10">
															<input type="text" th:field="*{apellidos}" maxlength="70"  pattern="[a-zA-ZñÑ\s]+" title="Ingrese solo letras" class="form-control input-sm" placeholder="" />
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-2 control-label">Dirección</label>
														<div class="col-md-10">
															<input type="text" th:field="*{direccion}" maxlength="100" required="required" class="form-control input-sm" placeholder="" />
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-2 control-label">Teléfono</label>
														<div class="col-md-10">
															<input type="text" th:field="*{telefono}" maxlength="9" required="required" pattern="[0-9]+" title="Ingrese solo numeros" class="form-control input-sm" placeholder="" />
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-2 control-label">Email</label>
														<div class="col-md-10">
															<input type="email" th:field="*{email}" maxlength="100" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Ingrese email valido" class="form-control input-sm" placeholder="" />
														</div>
													</div>
													<div class="form-group" id="divFechaNacimiento">
														<label class="col-md-2 control-label">Fecha Nacimiento (dd/mm/aaaa)</label>
														<div class="col-md-10">
															<input type="text" th:field="*{fechaNac}" maxlength="10"  pattern="\d{1,2}/\d{1,2}/\d{4}" title="Ingrese el formato solicitado"  class="form-control input-sm" placeholder="" />
														</div>
													</div>

													<div class="form-group" id="divGenero">
														<label class="col-md-2 control-label">Género</label>
														<div class="col-md-10">
															<div class="radio">
																<label>
																	<input type="radio" th:field="*{genero}" value="M" /> Masculino
																</label>
															</div>
															<div class="radio">
																<label>
																	<input type="radio" th:field="*{genero}" value="F" /> Femenino
																</label>
															</div>
															
														</div>
													</div>
												
													<div align="center">
													<button type="submit" class="btn btn-primary" id="btnInsertarHincha" th:if="${accion == 'INSERTAR'}">Ingresar Hincha</button>
													<button type="submit" class="btn btn-primary" id="btnActualizarHincha" th:if="${accion == 'ACTUALIZAR'}">Actualizar Hincha</button>
													</div>
													
									</div>				
												</form>	
						</div>
			 </div>
	   </div>
	   </div>
	   <div class="col-md-1"></div>
	   </div>
	   
	   
          
  </div>
 </html>