<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"  lang="es"  th:include="layout/page :: page" >
 
  <div th:fragment="content"> 
    <script type="text/javascript">
       
    </script>
  
  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
      <div class="widget">
			 <div class="widget-header">
				<h3><i class="fa fa-edit"></i> Ingreso Lista Negra</h3>
		     </div>
			 <div class="widget-content">
			     <div class="form-horizontal">
			     <form action="#" th:action="@{/ingresar-lista-negra}"  enctype="multipart/form-data" method="POST" accept-charset="UTF-8">
			              <div  th:if="${error != null}" >
				      		<div class="alert alert-danger " th:text="${error}">
								Aqui van los mensajes de error																	
					  		</div>
						  </div>	
			             
													<div class="form-group">
														<label class="col-md-2 control-label">Archivo</label>
														<div class="col-md-10">
															<input type="file" name="fileData"  class="filestyle"/>
														</div>
													</div>

													<div align="center">
													<button type="submit" class="btn btn-primary" >Cargar Archivo</button>
													</div>
													<br/>
													<br/>
													<p> Total Lista Negra: <span th:text="${total}"></span></p>
													<br/>
													<div th:if="${totalIngresados != null}">
														<p>Total registros ingresados: <span th:text="${totalIngresados}"> 0 </span></p>
														<p>Total registros duplicados: <span th:text="${totalDuplicados}"> 0 </span></p>
													</div>
													<div th:if="${not #lists.isEmpty(errores)}">
													  <p>Registros con errores (No fueron cargados):</p>
													  <ul th:each="error: ${errores}">
													     <li th:text="${error}"></li>
													  </ul>
													</div>
													
												
				</form>	
			 </div>
			 </div>
	   </div>
	   </div>
	   <div class="col-md-1"></div>
	   </div>
	   
	   
          
  </div>
 </html>